@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	@font-face {
		font-family: Original;
		src: url('/fonts/OriginalSurfer-Regular.woff2') format('woff2');
		font-weight: 500;
		font-display: swap;
		font-style: normal
	}
	@font-face {
		font-family: Serpentine;
		src: url('/fonts/Serpentine-BoldOblique.woff2') format('woff2');
		font-weight: 500;
		font-display: swap;
		font-style: normal
	}
	@font-face {
		font-family: Coves-L;
		src: url('/fonts/Coves-Light.woff2') format('woff2');
		font-weight: 500;
		font-display: swap;
		font-style: normal
	}
	@font-face {
		font-family: Coves-B;
		src: url('/fonts/Coves-Bold.woff2') format('woff2');
		font-weight: 500;
		font-display: swap;
		font-style: normal
	}
}